{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ECOTOURISM</title>
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet" />
    <script src="{% static 'ecotourism/scripts.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'ecotourism/style.css' %}">
</head>
<body>

    <!-- MENU --->

    <header>
        <div class="tete">
            <div class="titlelogo1">
                <div class="logofooter1">
                    <img src="{% static 'ecotourism/images/logo_BNC.jpg' %}">
                </div>
                <h2><span class="logocolorB">B</span>OBAOMBY <br><span class="logocolorN">N</span>ATURE <br><span class="logocolorC">C</span>ONSERVATION</h2>
            </div>
            <div class="contact_preheader">
                <div class="mail">
                    <img src="{% static 'ecotourism/images/enveloppe.png' %}">
                    <h5>bncoservation@hotmail.com</h5>
                </div>
                <div class="telephone">
                    <img src="{% static 'ecotourism/images/appel_telephonique.png' %}">
                    <h5>bncoservation@hotmail.com</h5>
                </div>
            </div>
            <div class="menu">
                <nav>
                    <a href="{% url 'home:index' %}">Home</a>
                    <a href="{% url 'about:index' %}">About</a>
                    <a href="{% url 'ecotourism:index' %}">Ecotourism</a>
                    <a href="{% url 'conservation:index' %}">Conservation</a>
                    <a href="{% url 'contactus:index' %}">Contact us</a>
                    <a href="/donate" class="donate">DONATE NOW!</a>
                </nav>
            </div>
        </div>
    </header>

    <!-- BANNER -->
    <div class="banner">
        <h1>ECOTOURISM</h1>
        <h2><a href="{% url 'home:index' %}">HOME</a> / <a href="{% url 'ecotourism:index' %}">ECOTOURISM</a></h2>
    </div>

    <!-- ECOTOURISM -->
    <div class="eco-tourism">
        <div class="slid-photo">
            <div class="slid1">
                <img style="width:100%;height:100%;border-radius: 50%;" src="{% static 'ecotourism/images/slid1.JPG' %}">
            </div>
            <div class="slid2">
                <img style="width:100%;height:100%;border-radius: 50%;" src="{% static 'ecotourism/images/slid2.JPG' %}">
            </div>
            <div class="slid2">
                <img style="width:100%;height:100%;border-radius: 50%;" src="{% static 'ecotourism/images/slid3.jpg' %}">
            </div>
            <div class="slid2">
                <img style="width:100%;height:100%;border-radius: 50%;" src="{% static 'ecotourism/images/slid4.JPG' %}">
            </div>
            <!--
            <div class="slid-point">
                <div class="spoint1"></div>
                <div class="spoint2"></div>
                <div class="spoint2"></div>
            </div> -->
        </div>
        <div class="eco-content">
            <div class="eco-offers">
                <p>Our initiative is based on the preservation of natural and cultural heritage through the
                    establishment and development of alternative income-generating activities for communities.
                    We therefore discovered that, in Fokontany Anjiabe and its surroundings, income-generating
                    activities are limited, as a result, the NGO BNC, with its collaborators currently working
                    in the village.
                    <br><br>After a long observation and simplified study, we were able to locate several tourist
                    attractions from the faunistic, historical and cultural point of view.</p>
                <div class="circuitv2">
                    <div class="circuitv2img">
                        <div class="image2">
                            <img src="{% static 'ecotourism/images/cultural.JPG' %}">
                        </div>
                    </div>
                    <div class="circuitv2text">
                        <h1>CULTURAL VISIT</h1>
                        <p>The region of Bobaomby is recognized for its richness in culture, tradition and legend which
                            will therefore be worthily valued. Visitors will be treated to storytelling sessions,
                            stories reflecting legends, culture and taboos of sacred places of the communities.</p>
                        <div class="joinnow2">
                            <h2 class="textlearn2">READ MORE</h2>
                            <h2 class="textjoin2">JOIN NOW</h2>
                        </div>
                    </div>
                </div>
                <div class="circuitv2">
                    <div class="circuitv2img">
                        <div class="image2">
                            <img src="{% static 'ecotourism/images/village_insertion.JPG' %}">
                        </div>
                    </div>
                    <div class="circuitv2text">
                        <h1>VILLAGE INSERTION</h1>
                        <p>This activity will be composed by the concept of solidarity tourism, to offer adventures to
                            immerse themselves for a week in host families with different means of subsistence.</p>
                        <div class="joinnow2">
                            <h2 class="textlearn2">READ MORE</h2>
                            <h2 class="textjoin2">JOIN NOW</h2>
                        </div>
                    </div>
                </div>
                <div class="circuitv2">
                    <div class="circuitv2img">
                        <div class="image2">
                            <img src="{% static 'ecotourism/images/ambatomarangitry.jpg' %}">
                        </div>
                    </div>
                    <div class="circuitv2text">
                        <h1>AMBATOMARANGITRY</h1>
                        <p>In this circuit, you will appreciate get first to the Tsingy Ambatomarangitry,
                            1.hour of tourist walks.</p>
                        <div class="joinnow2">
                            <h2 class="textlearn2">READ MORE</h2>
                            <h2 class="textjoin2">JOIN NOW</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="eco-filtre">
                <div class="part-search">
                    <form id="searchbox" method="get" action="/search">
                        <input name="q" type="text" size= "15″" placeholder="Type here…"/>
                        <input id="button-submit" type="submit" value="Search"/>
                    </form>
                </div>
                <div class="part-categories">
                    <h1>CATEGORIES</h1>
                    <div></div>
                    <h2>Environment</h2>
                    <h2>Forest</h2>
                    <h2>Water</h2>
                    <h2>Nature</h2>
                    <h2>Solder</h2>
                </div>
            </div>
        </div>
    </div>


    <!--  FOOTER  -->
    <footer>
        <div class="partfooter">
            <div class="quickcontact">
                <div class="contactfooter">
                    <div class="titlelogo">
                        <div class="logofooter">
                            <img src="{% static 'ecotourism/images/logo_BNC.jpg' %}">
                        </div>
                        <h2>BOBAOMBY <br><span class="nature1">NATURE CONSERVATION</span></h2>
                    </div>
                    <div class="infofooter">
                        <h3>BP 61 Cercle Messe, Place Kabary <br> ANTSIRANANA 201, MADAGASCAR</h3>
                        <h3>+261 32 41 649 86 / +261 32 70 544 68 </h3>
                        <h3>bnconseravtion@hotmail.com</h3>
                    </div>
                </div>
                <div class="quickfooter">
                    <h1>QUICK LINKS</h1>
                    <h3><a href="{% url 'home:index' %}">Home</a></h3>
                    <h3><a href="{% url 'about:index' %}">About</a></h3>
                    <h3><a href="{% url 'ecotourism:index' %}">Ecotourism</a></h3>
                    <h3><a href="{% url 'conservation:index' %}">Conservation</a></h3>
                    <h3><a href="{% url 'contactus:index' %}">Contact us</a></h3>
                    <h3><a href="/donate">DONATE</a></h3>
                </div>
            </div>
            <div class="linefooter"></div>
            <p>Copyright 2021 <span class="copyright">©</span> Bobaomby Nature Conservation</p>
        </div>
    </footer>
</body>
</html>